.admin-container{
    background-color: gray;
    margin-top: 110px;
    width: 200px;
}

/*connexion modal*/

.modal-container{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-action, .btn-primary {
  color: #FFEFD7;
  background-image: -webkit-linear-gradient(top, #FF9B22 0%, #FF8C00 100%);
  background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9B22', endColorstr='#ffFF8C00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border: 0 none;
}
.btn {
  padding: 10px 40px;
  font-weight: bold;
  border: 0 none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.checkbox{
  margin-left: 10px;
}